<div class="form-center">
  <h1>Log In To Your Account</h1>
  <div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <form>
    <div class="form-group">
      <input
        class="form-control"
        id="username"
        name="username"
        placeholder="User Name"
        [(ngModel)]="user.username"
        required/>

      <input
        class="form-control"
        id="password"
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="user.password"
        required/>

      <div style="display: flex;">
        <div style="width: 50%; text-align: left;">
          <input
            id="rememberme"
            name="rememberme"
            type="radio"
            placeholder="Remember Me"
          /> Remember Me
        </div>
        <div style="width: 50%; text-align: right;">
          <a [routerLink]="['/password/forgot']">Forgot Password?</a>
        </div>

      </div>
      <br>
      <button
        class="btn btn-blue"
        (click)="onLogin()"> SIGN IN </button>
    </div>
  </form>
  Don't have an account? <a [routerLink]="['/account/create']">Create A New Account!</a>
</div>
