<div class="form-center">
  <div *ngIf="!isEmailSent">
    <h1>Recover your password</h1>
    <br>
    Enter your registered email or username to reset your password
    <p></p>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <input placeholder="Username or Email" id="username" name="username" class="form-control" required/>
    <br>
    <button
      class="btn btn-blue"
      (click)="recoverPassword()"> Recover Password </button>
  </div>
  <div *ngIf="isEmailSent">
    <div class="done"></div>
    <h1>We sent you an Email</h1>
    <p style="width: 400px;">An email hs been sent to your registered email address. click on the link to reset your password.</p>
  </div>
</div>
