<div class="form-center">
  <h1>Create New Account</h1>
  <p> Already have an account? <a [routerLink]="['/login']">Sign In</a></p>
  <div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="addAccount()">
    <div class="form-group">
      <input
        class="form-control"
        placeholder="User Name"
        id="username"
        formControlName="username"
        required/>
      <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
        <div *ngIf="f.username.errors.required"> User Name is required. </div>
      </div>

      <input
        class="form-control"
        placeholder="Password"
        id="password"
        type="password"
        formControlName="password"
        required/>

      <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
        <ng-container *ngIf="f.password.errors.required"> Password is required. </ng-container>
        <ng-container *ngIf="f.password.errors.PasswordValidators"> Password should be 8 characters long, contain one capital, contain one numeral and contain one special character. </ng-container>
      </div>

      <input
        class="form-control"
        placeholder="Confirm Password"
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        required/>

      <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
        <ng-container *ngIf="f.confirmPassword.errors.required"> Confirm Password is required. </ng-container>
        <ng-container *ngIf="f.confirmPassword.errors.ConfirmedPasswordValidators"> Password and Confirm Password must be match. </ng-container>
      </div>

      <button
        class="btn btn-default" [disabled]="!form.valid"> CREATE ACCOUNT </button>
    </div>
  </form>

  <p> By signing up, you agree to our <a>Term of Services</a> and <a> Privacy Policy </a></p>
</div>
