/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
html {
  height: 100%;
}
body {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-center {
  text-align: center;
  width: 500px;
}
.form-control {
  margin-bottom: 25px;
}
.alert {
  padding: 5px;
}
.btn {
  margin-right: 10px;
  font-size: 12px;
  padding: 12px 20px 12px 20px;
  font-weight: bold;
}
.btn {
  margin-right: 10px;
  font-size: 12px;
  padding: 12px 20px 12px 20px;
  font-weight: bold;
  border-radius: 20px;
  border-width: 1px;
}
.btn-blue, .btn-blue:hover {
  background-color: #69a9f2;
  color: white;
  border-color: white;
}
.btn-blue:disabled {
  background-color: lightgrey;
}
.btn-white, .btn-white:hover {
  background-color: white;
  color: #69a9f2;
  border-color: #69a9f2;
}
.form-center {
  text-align: center;
}
.done {
  background: url(assets/done-icon.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  margin: auto;
}
option {
  padding: 10px;
}
.blank-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-width: 1px;
  border-style: dashed;
  border-color: lightgray;
  background: url(assets/blank-profile-picture.jpg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  margin-left: 150px;
}
